{% load cms_tags menu_tags sekizai_tags thumbnail %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}.::SUSCERTE::.{% endblock title %}</title>
    {% load static %}
    {% render_block "css" %}
    <meta charset="utf-8" />
    <!--Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Estilos de funetes-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700|Montserrat:700|Montserrat:700|Open+Sans:700|Raleway:600|Raleway:400|Arial:400|Open+Sans:700" rel="stylesheet" type="text/css"/>
    <link rel='stylesheet' id='font-awesome.min-css'  href={% static 'css/font-awesome.min.css'%} type='text/css' media='all' />
    <!-- Favicon-->
    <link rel="shortcut icon" href={% static 'images/favicon.ico'%}/>
    <!-- Estilos Generales-->
    <link rel='stylesheet' id='style-css'         href={% static 'css/style.css'%}        type='text/css' media='all' />
    <link rel='stylesheet' id='prettyPhoto-css'   href={% static 'css/prettyPhoto.css'%}  type='text/css' media='all' />
    <link rel='stylesheet' id='style-custom-css'  href={% static 'css/style-custom.css'%} type='text/css' media='all' />
    <link rel='stylesheet' id='social-media-css'  href={% static 'css/social-media.css'%} type='text/css' media='all' />
    <link rel='stylesheet' id='social-media-css'  href={% static 'css/tabla.css'%} type='text/css' media='all' />
    <!-- Estilos generales para dispositivos moviles-->
    <link rel='stylesheet' id='mobile-css'        href={% static 'css/style-mobile.css'%} type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href={% static 'plugins/contact-form-7/includes/css/styles.css'%} type='text/css' media='all' />
    <!-- Estilos para el feed de twitter-->
    <link rel='stylesheet' id='tp_twitter_plugin_css-css'  href= {% static 'plugins/recent-tweets-widget/tp_twitter_plugin.css'%} type='text/css' media='screen' />
    <!-- Estilos para el Overbox -->
    <!--link rel="stylesheet" type="text/css" href={% static 'css/climacons.css'%} /-->
    <link rel="stylesheet" type="text/css" href={% static 'css/overbox.css'%} />
    <!-- Themnific Shortcodes CSS -->
    <link href= {% static 'css/shortcodes.css'%}  rel="stylesheet" type="text/css" />
    <!-- Estilo para efecto de minimizar la pagina (para ver historicos) -->
    <link rel="stylesheet" type="text/css" href= {% static 'css/normalize.css' %}  />
    <link rel="stylesheet" type="text/css" href= {% static 'css/component3.css' %}  />
    <!-- Estilo de Historiales  -->
    <!--link rel="stylesheet" href="css/reset.css"> <!- CSS reset -->
    <link rel="stylesheet" href={% static "css/timeline.css" %}> <!-- Resource style -->
    <link rel="stylesheet" href={% static "css/botones.css" %}>
    <!-- estilos requeridos para el jScrollPane (scroll personalizado) -->
    <link rel="stylesheet" type="text/css" href= {% static "css/jScrollPane/jquery.jscrollpane.css" %} />
    <!-- Estilos del silder -->
    <link href= {% static 'css/slider.css'%}  rel="stylesheet" type="text/css" />


<!-- Estilos adaptativos/ Responsive Design-->
<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" href={% static "css/responsive/480px.css"%} />
<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 767px)" href={% static "css/responsive/767px.css"%} />
<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 768px) and (max-device-width: 1600px) " href={% static "css/responsive/768px-1600px.css"%} />
<link rel="stylesheet" type="text/css" media="screen and (min-device-width: 1601px) " href={% static "css/responsive/1200px.css"%} />


    <!-- Estilos específicos -->
<style type="text/css">
  body,.section,.item_full,.item_carousel,.item_slider,.pricing ul{background-color:#ffffff;
  }
  .scroll li a,.navi li a{border-color:#ffffff !important}
  .body2,#header,.scroll ul.sub-menu,.navi ul.sub-menu,.navi li ul.children{background-color:#ffffff}
  .scroll li a,.navi li a{border-color:#ffffff !important}
  .body3,.nav li ul,li.normal h2,ul.medpost li.format-quote{background-color:#f9f9f9}

  #serinfo-nav li.current,.wpcf7-submit,a#navtrigger,.stuff span.slidebg,.flex-direction-nav li a,span.ribbon,.block-wrap a.blogmore,#folio-wrap a.blogmore,.imgwrap,a.hoverstuff-link,a.hoverstuff-zoom,li.main h2,.page-numbers.current,a.mainbutton,#submit,#comments .navigation a,.contact-form .submit,.plan-bottom a,a.comment-reply-link,.imageformat{background-color:#4DC8E3}

  .section>.container>h3,#servicesbox li,.nav li ul{border-color:#4DC8E3 !important}
  #navigation a:hover,.scroll>li.current>a,ul.sub-menu>li.current>a,ul.children>li.current>a,#servicesbox li:hover h3 i,#portfolio-filter li.current-cat a,.section>.container>h2:after{color:#4DC8E3 !important}
  /*.body1 a, a:link, a:visited,.nav>li>ul>li>a {color:#333}*/
  .entry a,a:hover,.body1 a:hover,#serinfo a:hover,#main-nav>li.current-cat a,#main-nav>li.current_page_item a,
  /*#portfolio-filter a.current,li.current-cat a,#portfolio-filter li.active a,
  .tagline a,a.slant {color:#4DC8E3}*/
  #main-nav>li:hover,#main-nav>li.current-cat,#main-nav>li.current_page_item {border-color:#4DC8E3 !important}
  #clients li,#header,#portfolio-filter,.searchform input.s,.fullbox,.pagination,input, textarea,input checkbox,input radio,select, file{border-color:#e3e3e3 !important}
  body,input, textarea,input checkbox,input radio,select, file {font:400 14px/1.8em Arial;color:#757575}
  .body2 h2,.body2 h3 {color:}
  h1 {font:700 70px/1.1em Montserrat;color:#000000}h2 {font:700 55px/1.2em Montserrat;color:#000000}p.special {font-family:Montserrat}h3,a.tmnf-sc-button.xl,.flexhead p {font:700 14px/1.5em Open Sans;color:#4a4a4a}h4 {font:600 18px/1.5em Raleway;color:#000000}h5 {font:400 14px/1.5em Raleway;color:#4a4a4a}h6 {font:400 14px/1.5em Raleway;color:#4a4a4a}
  .scroll li a,.navi li a {font:700 12px/1em Open Sans;color:#222}.section h2,.section_template h2 {font:700 80px/1.2em Montserrat;color:#000000}.tab-post small a,.taggs a,.ei-slider-thumbs li a {color:#757575}

  .span-columna, .rb-city, .rb-temp, .clearfix{font-family: 'Montserrat';}

  .icono-cuadro-princ{
      position:absolute;
      right:0px;
      bottom:0px;
      opacity:0.5;
      font-size:6em;
  }

  a, a:link, a:visited {
   text-decoration:none;
   cursor: pointer;
  }

  .enlacelist,  .enlacelist, .enlacelist:link, .enlacelist:visited,.nav>li>ul>li>.enlacelist{
    color: #FFF;
  }

  .enlacelist:hover{
  /*text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.1);*/
    text-shadow:5px 2px 5px #444;
  }

  .panel-derecho{
    overflow-y: scroll;
    outline: none;
    /*float: right;*/
    height:600px;
  }

  .boxgrid-css{
    background-image: url({% static 'images/boxgrid.png' %});
  }

  .titulo_categoria{font-size: 2.3em;}



.banner {
  position: relative;
    overflow: hidden;

}
.banner li { list-style: none; }
.banner ul li { float: left;
}



.slider-images{

  no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.caja {
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    box-sizing: border-box;
}

.caja h3{
  font-size: 2em;
}


.titulo-2{
  color: #7D7979;
}


a .rb-temp{
    color: #FFF;
    opacity: 0.5;
}

a .rb-temp:hover {
    opacity: 1;
}

</style>

{% block estilos %}
  {% endblock %}

</head>
<body>
<div id="perspective" class="perspective effect-moveleft " ><!-- Cuerpo del portal-->
  <div class="contenedor "> <!-- Contenedor del portal (lo que se minimiza)-->
    <div class="wrapper"><!-- wrapper es necesario para el scroll -->
      {% cms_toolbar %}<!-- Menú del CMS-->
      <div id="bannersuscerte" ><!--Cintillo-->
        <img src= {% static "images/logo-gobierno-bolivariano.png" %} >
        <img src= {% static "images/bicentenario.png" %}  width="69" style=" float: right;" type="hidden" >
      </div>
      <header id="header" class="boxshadow gradient"><!--Header para el menu-->
        <div class="container" style="overflow:visible;">
          <a id="logo_res" href="">
            <img src= {% static "images/suscerte/suscerte_logo_small.png" %}  alt="SUSCERTE"/>
          </a>
          <a id="logo_gigant" href="">
            <img src= {% static "images/suscerte/suscerte_logo_gigant.png" %}  alt="SUSCERTE"/>
          </a>
          <a id="navtrigger" href="">MENU</a>
          <nav id="navigation" class="bigmenu"><!-- Menú -->
            <h1 class="classic">
              <a class="logo" href="">
                <img id="logo_small" src= {% static "images/suscerte/suscerte_logo.png" %}  alt="SUSCERTE"/>
              </a>
            </h1>

            <ul id="main-nav" class="navi">
              {%  show_menu  0  100  100  100  %}
            </ul>
          </nav>
          <div style="clear: both;"></div>
        </div>
      </header><!-- /#header -->


      <div style="clear: both;"></div>



    <!--div class="resmode-No section_template " style="  background-image: url( {% static 'images/circuit.png' %});  ">
        <div class="container">
          <h2 >{% page_attribute 'title' %}</h2>
        </div>
      </div-->

        <div class="banner" >
            <ul>
                <li class="slider-images" style="background-image: url({% static 'images/circuit.png' %} );">
                    <h2>{% page_attribute 'title' %}</h2>
                </li>

            </ul>

        </div>



      <div class="hrlineB"></div>
      <div class="container">
        <div id="content" class="eightcol">
          <ul class="medpost">
            <li class="post-1981 post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-foliage tag-macro">
            <div style="clear: both;"></div>
<!-- ========================================== -->

<!--{% thumbnail obj.img 200x300 crop upscale subject_location=obj.img.subject_location %}-->


              {% block contenido %}




              {% endblock %}




            </li>
          </ul><!-- end latest posts section-->
        </div><!-- /#content-->


        <div id="sidebar"  class="fourcol">
        <!-- Formulario de Búsqueda -->
          <!--form class="searchform" method="get" action="http://capethemes.com/demo/scroller2">
            <input type="text" name="s" class="s" size="30" value="Search" onfocus="if (this.value = '') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" /><input type="submit" class="searchSubmit" value="" />
          </form-->
        <!-- /Formulario de Búsqueda -->
          <div style="clear: both;"></div>
        <!-- Feed de Twitter -->
          <h2>Feed de Twitter</h2>
          <div class="tp_recent_tweets">
            <ul>
              <li><span>Modern Examples of the Classic Sidebar Menu Layout <a href=""  target="_blank"  >http://t.co/xdnEWDfCqr</a></span><br /><a class="twitter_time" target="_blank" href="">105 days ago</a></li>
              <li><span>Tired of buying expensive psd graphics ? Now you can get them for free at <a href="" title=""  target="_blank"  >http://t.co/07uQGkwIoG</a></span><br /><a class="twitter_time" target="_blank" href="">109 days ago</a></li>
              <li><span>Wayfarin <a href="" title="" target="_blank" >http://t.co/oJ1zj8Lmxi</a></span><br /><a class="twitter_time" target="_blank" href="">220 days ago</a></li>
              <li><span>Wayfarin <a href="" title="" target="_blank" >http://t.co/HJ5vxgddn3</a></span><br /><a class="twitter_time" target="_blank" href="">220 days ago</a></li>
              <li><span>NYC via  <a href="" title="" target="_blank" >http://t.co/DDx3QL2M5u</a></span><br /><a class="twitter_time" target="_blank" href="">220 days ago</a></li>
            </ul>
          </div>
        <!-- /Feed de Twitter -->
        </div><!-- /#sidebar -->
      <!-- ******* Aquí iba el footer ******** -->
    </div><!-- /.wrapper -->
  </div><!-- /.contenedor -->


      <div id="footer" class="body3"><!-- #footer -->
        <div class="container">
          <div id="copyright">
            <div class="fl">
            </div>
            <div class="fl">
              <p>Copy Left | SUSCERTE</p>
            </div>
            <div class="fr">
              <p>Caracas - Venezuela. Diseñado por <a href="http://www.suscerte.gob.ve">SUSCERTE</a></p>
            </div>
          </div>
        </div>
      </div>
      <!-- /#footer  -->


</div><!-- /.perspective -->


  <!-- Históricos -->
  <nav id="historiales-nav" class="outer-nav top horizontal ">
  <!--
  *En esta sección se cargan dinámicamente los históricos
  *-->

  </nav><!-- /.outer-nav Nav de muestra -->





{% render_block "js" %}
    <!--Libreria Jquery usada-->
      <script src={% static "js/jquery.min.js" %}></script>
    <!-- Estilo de scrolling para el lateral de los historiales -->
    <script src={% static "js/main-historial.js" %}></script> <!-- Resource jQuery -->
    <script src={% static "js/modernizr.js" %}></script> <!-- Modernizr -->
    <!-- Libreria de funciones propias -->
    <script src={% static "js/funciones.js" %}></script>

    {% block javascript %}
    <!-- Estará el javascript personalizado de cada página -->
    {% endblock %}

    <!-- Js para el Overbox -->
    <script src={% static 'js/modernizr.custom.js' %}></script>
    <script src={% static 'js/jquery.fittext.js' %}></script>
    <script src={% static 'js/boxgrid.js' %}></script>
    <script src={% static 'js/jquery.easing.1.3.js' %}></script>
    <!-- Js requeridos para el jScrollPane (scroll personalizado) -->
    <script type="text/javascript" src={% static "js/jScrollPane/jquery.jscrollpane.min.js" %}></script>
      <!-- Js del mousewheel plugin (scroll personalizado)-->
    <script type="text/javascript" src={% static "js/jScrollPane/jquery.mousewheel.js" %}></script>

    <!-- Js para efecto de minimizar la pagina (para ver historicos) -->
    <script src={% static 'js/modernizr.custom.25376.js' %}  ></script>
    <script src={% static 'js/classie.js' %}  ></script>
    <script src={% static 'js/menu.js' %}  ></script>
    <script src={% static 'js/unslider.min.js' %}  ></script>

    <script>
        $(function() {
            Boxgrid.init();
            $('.scroll-pane').jScrollPane();


/*
    $('.banner').unslider({

    speed: 500,               //  The speed to animate each slide (in milliseconds)
    delay: 5000,              //  The delay between slide animations (in milliseconds)
    complete: function() {},  //  A function that gets called after every slide animation
    keys: true,               //  Enable keyboard (left, right) arrow shortcuts
    dots: true,               //  Display dot navigation
    fluid: false              //  Support responsive design. May break non-responsive designs

    });
*/


  // Detecta la resolución al cargar la página
  if ($(window).width()<= 480){
    $('#perspective').addClass('effect-rotatetop');
  }else{
    $('#perspective').addClass('effect-moveleft');
  }

// Detectear el cambio de resolución
window.onresize = resize;
function resize(){

  // Detecta la resolución al redimensionar la página
  if ($(window).width()<= 480){
    $('#perspective').removeClass('effect-moveleft');
    $('#perspective').addClass('effect-rotatetop');
  //alert('la resolucion es '+$(window).width());
  }else{
    $('#perspective').removeClass('effect-rotatetop');
    $('#perspective').addClass('effect-moveleft');
  }
}



        });
    </script>

    <script type='text/javascript' src={% static 'js/tabs.js' %} ></script>
    <script type='text/javascript' src={% static 'plugins/contact-form-7/includes/js/jquery.form.min.js' %} ></script>
    <script type='text/javascript' src={% static 'plugins/contact-form-7/includes/js/scripts.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.hoverIntent.minified.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.prettyPhoto.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.scrollTo.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.nav.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.parallax-1.1.3.js' %} ></script>
    <script type='text/javascript' src={% static 'js/superfish.js' %} ></script>
    <script type='text/javascript' src={% static 'js/ownScript.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.flexslider-min.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.flexslider.start.main.js' %} ></script>
    <script type='text/javascript' src={% static 'js/comment-reply.min.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.flexslider.start.featured.js' %} ></script>
    <script type='text/javascript' src={% static 'js/jquery.flexslider.start.carousel.js' %} ></script>

</body>
</html>
