/* Estilo de caption */
.pie_caption{
    background-color: rgba(13, 71, 161, 1);
    position: absolute;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
    height: 30px;
    width: 100%;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.pie_caption a:hover{
  color: #fff;
}


  .rb-grid-dpc li {
width: 100% !important;
}

	.rb-grid {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}

.rb-grid li {
	width: 24%;
	height: 15em;
	margin: 0.5%;
	background: #8CC7DF;
	color: #fff;
	display: block;
	float: left;
	padding: 1.6em;
	cursor: pointer;
	position: relative;
}

.rb-grid li.rb-span-2 {
	width: 49%;
}

.rb-grid li.rb-span-4 {
	width: 99%;
}

.rb-grid li h3 {

	 font-size: 22px;
	font-size: 1.2em;
	font-weight: 100;
}

.rb-grid li[class^="icon-"]:before,
.rb-grid li[class*=" icon-"]:before {
	font-size: 10em;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	line-height: 3;
	opacity: 0.4;
	text-align: right;
	pointer-events: none;
}

.rb-temp {
	display: block;
	font-size: 2em;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.rb-grid li:hover .rb-temp {
	opacity: 1;
}

.rb-overlay {
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: -1;
	pointer-events: none;
	cursor: default;
}

.rb-close {
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	width: 2em;
	height: 2em;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 1000;
	color: #ccc;
}

.rb-close::before {
	content: 'x';
	font-weight: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 3em;
	line-height: 0.6;
	text-align: center;
	text-indent: 0px;
}

.rb-week {
	width: 100%;
	height: 100%;
}

.rb-week > div {
	width: 10%;
	height: 100%;
	float: left;
	position: relative;
	padding: 3% 0;
}

.rb-week > div:first-child {
	width: 30%;
}

.rb-week span {
	padding: 5% 0;
	font-size: 2em;
	font-weight: 100;
	display: block;
	height: 30%;
	width: 100%;
	line-height: 0.8;
}

.rb-week span.rb-city {
	font-weight: 700;
	padding: 1% 10%;
	font-size: 1em;
	line-height: 1.2;
}

.rb-week [class^="icon-"]:before {
	font-size: 2.5em;
	font-weight: normal;
}

.rb-week > div:first-child [class^="icon-"] {
	opacity: 0.1;
}

/* Colors */

/* Grid */
.rb-grid li:nth-child(1) { background: #1976d2; }
.rb-grid li:nth-child(2) { background: #1e88e5; }
.rb-grid li:nth-child(3) { background: #2196f3; }
.rb-grid li:nth-child(4) { background: #42a5f5; }
.rb-grid li:nth-child(5) { background: #64b5f6; }
.rb-grid li:nth-child(6) { background: #90caf9; }
.rb-grid li:nth-child(7) { background: #9ac5ea; }
.rb-grid li:nth-child(8) { background: #adceea; }
.rb-grid li:nth-child(9) { background: #bed6ea; }
.rb-grid li:nth-child(10) { background: #c7daea; }
.rb-grid li:nth-child(11) { background: #d5e0ea; }

/* Overlay Columns */
.rb-grid li:nth-child(1) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(1) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(2) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(2) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(3) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(3) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(4) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(4) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(5) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(5) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(6) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(6) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(7) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(7) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(8) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(8) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(9) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(9) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(10) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(10) .rb-week > div:nth-child(8) { background: #c5cae9; }

.rb-grid li:nth-child(11) .rb-week > div:nth-child(1) { background: #283593; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(2) { background: #303f9f; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(3) { background: #3949ab; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(4) { background: #3f51b5; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(5) { background: #5c6bc0; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(6) { background: #7986cb; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(7) { background: #9fa8da; }
.rb-grid li:nth-child(11) .rb-week > div:nth-child(8) { background: #c5cae9; }


 	.icono-timeline{
 		margin-top: 36%;
 		color: #FFF;
 		font-size: 1.3em;
	}

  .span-columna-icon {
      margin-top: 84%;
  }
  .span-columna-footer {
      opacity: 0.6;
      position: absolute;
      bottom: 0%;
  }
  .span-overbox-header {
      font-size: 2.5em !important;
  }
  .span-overbox-icon {
      font-size: 6em !important;
  }
  .span-overbox-footer {
      font-size: 2.5em !important;
      opacity: 0.6;
  }


@media screen and (max-width: 63.125em) {
	
	.rb-grid li,
	.rb-grid li.rb-span-2,
	.rb-grid li.rb-span-4 {
		width: 100%;
		height: 10em;
		text-align: left;
	}

	.rb-grid li[class^="icon-"]:before,
	.rb-grid li[class*=" icon-"]:before {
		font-size: 6em;
		left: auto;
		right: 0;
		line-height: 2.5;
	}

	.rb-grid li > div {
		text-align: center;
	}

}



  .span-columna span {
      font-size: 1.2em !important;
  }


@media all and (max-width: 800px){

	.span-columna span {
	    font-size: 1em !important;
	    display: block;
	}

.span-columna-icon{

    font-size: 2em !important;
}


	.icono-timeline{
		font-size: 0.5em;
	}

#header {
    top: 6%;
}

#bannersuscerte {
    height: 6%;
}

}

@media all and (max-width: 1024px){

.span-columna span {
    font-size: 1em !important;
}

	.span-overbox-icon {
    display: block !important;;
}

	
}/* max-width: 1024px */


