{% extends "base.html" %}
{% load cms_tags %}
{% block title %}{% page_attribute 'title' %}{% endblock title %}
{% block contenido %}

{% for categoria in categorias %}
<!--========== Otra sección ========-->
<div class="container">
  {% ifequal categoria.publicar_cat True %}
  <header class="clearfix">
    <h3 class="titulo_categoria">{{ categoria }}</h3>
  </header>
<div class="caja">
  {% for autoridad in categoria.autoridadescertificadoras_set.get_query_set %}
    <div class="main container">
      <ul id="rb-grid" class="rb-grid clearfix">
      <!--========== Otro Cuadro ========-->
        {% ifequal autoridad.proveedor.publicar True %}
        {% ifequal autoridad.publicar True %}
        <header class="clearfix">
          <h3 class="titulo-2"  style=" padding-bottom: 5px; border-bottom: 1px solid #DDD;">{{ autoridad.nombre }}</h3>
        </header>
          
          {% for certificado in autoridad.certificados_set.get_query_set %}
            {% ifequal certificado.status.nombre "Válido" %}
              {% if certificado.fecha_fin >= fecha_actual %}
                <li>
                  <i class="fa fa-cloud-download icono-cuadro-princ"></i>
                  <h3>{{ certificado.etiqueta }}</h3>
                  <span class="rb-temp">{{ certificado.hash_cert }}</span>
                  <div class="rb-overlay">
                    <span class="rb-close"><i class="fa fa-close"></i></span>
                    <div class="rb-week">
                      <div>
                        <span class="rb-city span-overbox-header">{{ certificado.etiqueta }}</span>
                        <i class="span-overbox-icon fa fa-cloud-download"></i>
                        <span class="span-overbox-footer">{{ certificado.hash_cert }}</span>
                        <p><a class="boton boton-historico showMenu current-demo" data-id="{{ certificado.ac.id }}" href="secciones/historicos/"><i class='fa fa-plus fa-3x'></i>  Históricos </button></a>
                      </div>

                      {% for formato in certificado.formatocert_set.get_query_set %}
                      <div class="span-columna">
                        <span class="descarga-formato">
                        <span class="header-colum-formato-overbox">{{ formato.formato }}</span>
                        <a href="/media/{{ formato.archivo }}" class="enlacelist"
                          onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=no,width=700,height=500'); return false;">
                          <i class="fa fa-download fa-5x span-columna-icon"></i>
                        </a>
                        </span>





                        <a href="{{ formato.huella }}" class="enlacelist" 
                          onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=no,width=700,height=500'); return false;">
                          <span class="span-columna-footer">Huella SHA1</span>
                        </a>
                      </div>
                      {% endfor %}
                      </div>
                </li>
                {% endif %}
            {% endifequal %}
          {% endfor %}
          {% endifequal %}
        {% endifequal %}
      </ul>
    </div><!-- /.main-->
  {% endfor %}
  </div>
  <br>
  {% endifequal %}
</div><!-- /.container -->
{% endfor %}



{% endblock %}
{% block historicos %}
{% endblock %}
{% block javascript %}
<script>
    $('.boton-historico').on('click', consulta_cert);
    function consulta_cert() {
    // Acá se pasa el ID para el historico
        var id = $(this).attr("data-id");
        console.log(id);
        $.ajax({
          type: 'GET',
          data:{'id':id},
          url: '/es-ve/certificados-validos/',
          success: function(data) {
            console.log(data);
        /*     var html=''+
    '<article id="panel-redecho" class="panel-derecho scroll-pane">'+
    '<section id="cd-timeline" class="cd-container">';
              for (var i = 0; i < data.length; i++) {
                html += '<div class="cd-timeline-block">';
                  //Cambio de color de cd-timeline-img
                  /*if(data[i].fields.status.fields.status == "Válido"){
                    html+='<div class="cd-timeline-img cd-picture" >';
                  }
                  if(data[i].fields.status.fields.status == "Suspendido"){
                    html+='<div class="cd-timeline-img cd-location" >';
                  }
                  if(data[i].fields.status.fields.status == "Revocado"){
                    html+='<div class="cd-timeline-img cd-movie" >';
                  }* /
                  html+='<div class="cd-timeline-img cd-picture" >';
                  html+=''+
                    '<i class="fa fa-file-text icono-timeline"></i>'+
                  '</div> <!-- cd-timeline-img -->'+
                  '<div class="cd-timeline-content">'+
                    '<span id="titul" style="display:inline; font: 22px/1rem Montserrat; margin-left:1rem; ">'+data[i].fields.ac.fields.nombre+'</span>'+
                    '<span" >Status: '+data[i].fields.status.fields.nombre+'</span>'+
                    '<span style="float:right; margin-right:1.5rem;" >Hash: '+data[i].fields.hash_cert.fields.nombre+'</span>'+
                    //''+data[i].extras.get_formatos+
                      '<table >'+
                        '<thead>'+
                          '<tr>'+
                            '<th>Base 64</th><th>Texto</th><th>PEM</th><th>DER</th>'+
                          '</tr>'+
                        '</thead>'+
                        '<tbody>'+
                          '<tr>'+
                            '<td>Descargar</td><td>Descargar</td><td>Descargar</td><td>Descargar</td>'+
                          '</tr><tr>'+
                            '<td>Huella SHA1</td><td>Huella SHA1</td><td>Huella SHA1</td><td>Huella SHA1</td>'+
                          '</tr>'+
                        '</tbody>'+
                      '</table>'+
                      /*'<span class="cd-date">fecha</span>'+* /
                    '<span class="cd-date">'+ConvierteFechaENaES(data[i].fields.fecha_inicio)+'</span>'+
                    '<span class="cd-date" style="margin-top:22px;">'+ConvierteFechaENaES(data[i].fields.fecha_fin)+'</span>'+
                  '</div> <!-- cd-timeline-content -->'+
                '</div> <!-- cd-timeline-block -->';
               }
               html +='  </section> <!-- cd-timeline -->'+
                '</article>';
              $('#historiales-nav').empty();
              $('#historiales-nav').html(html);
              $('.scroll-pane').jScrollPane();
              console.log('listo'); */
          },
        });
    }
</script>
{% endblock %}
