 {% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}


{% block contenido %}


{% for proveedor in proveedores %}

  {% ifequal proveedor.publicar True %}
  <!--========== Otra sección ========-->
  <div class="container">
    <header class="clearfix">
      <h3 class="titulo_categoria">{{proveedor.nombre}}</h3>
    </header>

    <div class="caja">
    {% for autoridad in proveedor.autoridadescertificadoras_set.get_query_set %}
      {% ifequal autoridad.publicar True %}
        {% ifequal autoridad.publicar_dpc True %}
          <header class="clearfix">
            <h3 class="titulo_categoria">Declaración de Prácticas de Certificación</h3>
          </header>

          <h3 class="titulo-2">{{autoridad.nombre}}</h3>
          <div class="main container" style=" padding-bottom: 15px; border-bottom: 1px solid #DDD;">
            <ul id="rb-grid" class="rb-grid-dpc rb-grid clearfix">

              {% for dpc in autoridad.dpc_set.get_query_set %}        
                {% ifequal dpc.publicar True %}
                  <!--========== Otro Cuadro ========-->
                  <li >
                    <i class="fa fa-file-pdf-o icono-cuadro-princ"></i>
                    <h3> {{dpc.etiqueta}}</h3>
                    <a href="/media/{{ dpc.archivo }}" target="_blank">
                        <span class="rb-temp">Descargar</span>
                    </a>
                    <span class="pie_caption">
                      <p><a href="{{ dpc.huella }}" target="_blank">Huella SHA1</a></p>
                    </span>
                  </li> 
                {% endifequal %}
              {% endfor %}
            </ul>
          </div><!-- /.main-->
        {% endifequal %}        
      {% endifequal %}



        {% for certificado in autoridad.certificados_set.get_query_set %}
          {% ifequal certificado.ac.publicar True %}
            {% ifequal certificado.publicar True %}

          <header class="clearfix">
            <h3 class="titulo_categoria">Política de Certificado</h3>
          </header>

          <h3 class="titulo-2">{{ certificado.etiqueta}}</h3>
          <div class="main container" >
            <ul id="rb-grid" class="rb-grid-dpc rb-grid clearfix">

              {% for pc in certificado.pc_set.get_query_set %}
                {% ifequal pc.publicar True %}
                  <!--========== Otro Cuadro ========-->
                  <li >
                    <i class="fa fa-file-pdf-o icono-cuadro-princ"></i>
                    <h3>{{pc.etiqueta}}</h3>
                    <a href="/media/{{ pc.archivo }}" target="_blank"><span class="rb-temp">Descargar</span></a>
                    <span class="pie_caption">
                      <p><a href="{{ pc.huella }}" target="_blank">Huella SHA1</a></p>
                    </span>
                  </li> 
                {% endifequal %}
              {% endfor %}
            </ul>
          </div><!-- /.main-->
            {% endifequal %}
          {% endifequal %}
        {% endfor %}



    {% endfor %}


    </div>
    <br>
</div><!-- /.container -->
  {% endifequal %}

{% endfor %}


{% endblock %}
