{% extends "base.html" %}
{% load cms_tags %}
{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block contenido %}


{% for autoridad in autoridades %}
<!--========== Otra sección ========-->
<div class="container">
  {% ifequal autoridad.proveedor.publicar True %}
  {% ifequal autoridad.publicar True %}
    {% ifequal autoridad.lcr_set.get_query_set.first.publicar True %}
    <div class="caja">  
    <header class="clearfix">
      <h3 class="titulo_categoria" style=" padding-bottom: 5px; border-bottom: 1px solid #DDD;">{{ autoridad.nombre }}</h3>
    </header>

      <div class="main container">
        <ul id="rb-grid" class="rb-grid clearfix">
        <!--========== Otro Cuadro ========-->
               <li>
                  <i class="fa fa-cloud-download icono-cuadro-princ"></i>
                  <h3>{{ autoridad.lcr_set.get_query_set.first.ac }}</h3>
                  <span class="rb-temp">{{autoridad.lcr_set.get_query_set.first.hash_cert}}</span>
                  <div class="rb-overlay">
                    <span class="rb-close"><i class="fa fa-close"></i></span>
                    <div class="rb-week">
                      <div>
                        <span class="rb-city span-overbox-header">{{autoridad.lcr_set.get_query_set.first.ac}}</span>
                        <i class="span-overbox-icon fa fa-cloud-download"></i>
                        <span class="span-overbox-footer">{{autoridad.lcr_set.get_query_set.first.hash_cert}}</span>
                      </div>

              {% for formato in autoridad.lcr_set.get_query_set.first.formatolcr_set.get_query_set %}
                      <div class="span-columna">
                        <span class="descarga-formato">
                        <span class="header-colum-formato-overbox">{{ formato.formato }}</span>
                        <a href="/media/{{ formato.archivo }}" class="enlacelist" 
                          onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=no,width=700,height=500'); return false;">
                          <i class="fa fa-download fa-5x span-columna-icon"></i>
                        </a>
                        </span>
                        <a href="{{ formato.huella }}" class="enlacelist" 
                          onclick="window.open(this.href, '', 'resizable=yes,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=yes,dependent=no,width=700,height=500'); return false;">
                          <span class="span-columna-footer">Huella SHA1</span>
                        </a>
                      </div>
                      {% endfor %}
                      </div>
                </li>
        </ul>
      </div><!-- /.main-->
      </div>
      <br>
    {% endifequal %}
  {% endifequal %}
  {% endifequal %}
</div><!-- /.container -->
{% endfor %}

{% endblock %}



{% block javascript %}

{% endblock %}
