 {% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %} 
    <div id="interna"> <!-- InstanceBeginEditable name="contenido_segmentado" -->
      <div class="informativa">
        <div id="contenedorInformacion">
            <h1>{% page_attribute 'title' %}</h1>
        <section class="ac-container">
            <div>
                <input id="ac-1" name="accordion-1" type="radio" checked />
                <label for="ac-1">LDAP</label>
                <article class="ac-XXXlarge">

{% for var in ocspldap %}


{{var.archivo_ldap }}   

{% endfor %}








              </article>
              </div>
            <div>
                <input id="ac-2" name="accordion-1" type="radio" />
                <label for="ac-2">OCSP</label>
                <article class="ac-XXXlarge">
{{ ocspldap.archivo_ocsp }}
              </article>
              </div>         
          </section>
      </div></div>
      <!-- InstanceEndEditable --> </div>
{% endblock content %}