/* Para monitores modernos muy grandes HD y Mac.
   ------------------------------------------------------------------------- */
@media (min-width: 1601px){


/*Estilos del contenedor de la página*/
.container{
    max-width:3500px;
    padding-left:5%;
    padding-right:5%;
}

/* Estilos de los elelmentos del nav*/
ul.scroll li, ul.navi li{
    padding-top:9%;
}

#main-nav li a{
    margin-top:1%;
    font-size:2em;
}

#logo_res{
    display:none;
}

#logo_small{
 display:none;   
}

#logo_gigant{
 display:block;   
}

#logo_gigant img{
 width:472px;  
 height:162px;
}

/*Estilos del la imagen del sitio */
.section_template {
    margin-top:9%;

}

.banner ul li {
margin-top:3%;
}

.section_template .container {
    padding: 155px 11% 75px;
}

.section_template h2{
    font-size:10em !important;
    margin-top:5%;
}


.span-overbox-icon {
    font-size: 23em !important;
}


.span-overbox-header {
    font-size: 7em !important;
}

.span-overbox-footer {
    font-size: 5em !important;
    opacity: 0.6;
}

    .boton-historico {
    color: #FFF;
    font-weight: bold;
    background: #69D738 none repeat scroll 0% 0%;
    box-shadow: 0px 2px 0px #EEF2F5 inset, -4px 4px 0px #2E9B2B;
    position: fixed;
    top: 44%;
    left: 9%;
    font-size: 3em;
    border-radius: 15px;
}


.cd-container {
    width: 99%;
    max-width: 2170px;
    margin: 0px auto;
}


.span-overbox-icon {
    font-size: 60em !important;
    margin-left: -40%;
    position: absolute;
    top: 60%;
    opacity: 0.5;
}

.outer-nav.horizontal, .outer-nav.vertical {
    font-size: 1.2em;
    width: 74%;
    max-width: 2000px;
    left: 62%;

}



}/* (min-width: 1601px) */